@keyframes swimming_fish {
    0% {left: 0px;}
    50% {left: 700px;}
    100% {left: 0px;}
}

@keyframes swimming_diver {
    0% {left: 0px;}
    25% {left: 250px;  transform: translateY(100px);}
    50% {left: 500px; transform: translateX(100px);}
    75% {left: 250px; transform: translateY(100px);}
    100% {left: 0px;}
}

#fish {
    animation-name: swimming_fish;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: absolute;
}

#diver {
    animation-name: swimming_diver;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    position: relative;
}